# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build output folders
**/Debug/
**/Release/
**/x64/
.vs/SDL2GameProjectBPA/FileContentIndex/a48eae2b-4f19-4af4-8f48-122c0d571a65.vsidx
.vs/SDL2GameProjectBPA/FileContentIndex/e1e9f998-822e-434d-a8b8-13edb7d0323c.vsidx
.vs/SDL2GameProjectBPA/FileContentIndex/a48eae2b-4f19-4af4-8f48-122c0d571a65.vsidx
*.vsidx
*.vsidx
*.vsidx
/.vs/SDL2GameProjectBPA/FileContentIndex
