# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build output folders
**/Debug/
**/Release/
**/x64/
.vs/SDL2GameProjectBPA/FileContentIndex/a48eae2b-4f19-4af4-8f48-122c0d571a65.vsidx
.vs/SDL2GameProjectBPA/FileContentIndex/e1e9f998-822e-434d-a8b8-13edb7d0323c.vsidx
.vs/SDL2GameProjectBPA/FileContentIndex/a48eae2b-4f19-4af4-8f48-122c0d571a65.vsidx
*.vsidx
*.vsidx
*.vsidx
/.vs/SDL2GameProjectBPA/FileContentIndex
/.vs/SDL2GameProjectBPA/FileContentIndex
.vs/SDL2GameProjectBPA/v17/ipch/AutoPCH/fea320d12915a414/DRAWSCRATCHSPACE.ipch
.vs/SDL2GameProjectBPA/v17/ipch/AutoPCH/fb7d3fe71da33428/GAME.ipch
.vs/SDL2GameProjectBPA/v17/ipch/AutoPCH/8c0d6b8fba235f62/DRAWSCRATCHSPACE.ipch
.vs/SDL2GameProjectBPA/v17/ipch/AutoPCH/4c3937c666a221b2/GAME.ipch
.vs/SDL2GameProjectBPA/v17/ipch/AutoPCH/245f2802dddb02b4/VCTMP6772_508743.DRAWSCRATCHSPACE.00000000.ipch
.vs/SDL2GameProjectBPA/v17/ipch/AutoPCH/19b7a619403c106b/MAIN.ipch
.vs/SDL2GameProjectBPA/v17/DocumentLayout.json
.vs/SDL2GameProjectBPA/v17/DocumentLayout.backup.json
.vs/SDL2GameProjectBPA/v17/Browse.VC.opendb
.vs/SDL2GameProjectBPA/v17/Browse.VC.db-wal
.vs/SDL2GameProjectBPA/v17/Browse.VC.db-shm
.vs/SDL2GameProjectBPA/v17/Browse.VC.db
.vs/SDL2GameProjectBPA/v17/.suo
*.db
/.vs/SDL2GameProjectBPA/FileContentIndex
.vs/SDL2GameProjectBPA/v17/Browse.VC.db
.vs/SDL2GameProjectBPA/v17/.suo
.vs/SDL2GameProjectBPA/v17/Browse.VC.db
.vs/SDL2GameProjectBPA/v17/DocumentLayout.json
*.pdb
*.vsidx
/.vs/SDL2GameProjectBPA/v17

# MacOS Metadata folder
.DS_STORE
# User-specific presets for building
CMakeUserPresets.json
# The generated build files
build/
# Ignore Git Ignore
.venv/
# ignore any "tmp" folder used for testing docker output
tmp/